.button {
    background-color:rgba(151, 151, 151, 0.95);
    border: 2px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin: 4px 2px;
    cursor: pointer;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#000000;
}
li {
float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: rgba(251, 251, 251, 0.95);
}
li a:hover {
    background-color: #ffffff;
}