body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height:auto;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(106, 108, 108, 0.95);
    font-size: 18px;
}
.container { 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
    margin: 10px; 
    max-width: 100%; 
    box-sizing: border-box; 
    text-align: center; 
    border: 3px double rgba(106, 108, 108, 0.95); 
    border-radius: 10px; 
    background-color: #f0f0f0;
}
.content { 
    display: flex; 
    align-items: center; 
    justify-content: center; gap: 20px; 
} 
.slideshow-container { 
    position: relative; 
    margin: auto; 
} 
.myslides { 
    display: none; 
} 
.prev, .next { 
    cursor: pointer; 
    position: absolute; 
    top: 50%; 
    width: auto; 
    padding: 1px; 
    margin-top: -22px; 
    color: rgb(0, 0, 0); 
    font-weight: bold; 
    font-size: 18px; 
    transition: 0.6s ease; 
    user-select: none; 
} 
.prev {
    left: 1px;
    border-radius: 3px 0 0 3px;
 }
.next { 
    right: 1px; 
    border-radius: 3px 0 0 3px; 
} 
.prev:hover, .next:hover { 
    background-color: rgba(0, 0, 0, 0.8);
}
.center-img {
    max-width: 800px;
    height: auto;
    max-height: 600px;
  }
.text-and-preview {
    width: auto;
    max-width: 800px;
    margin: 0 auto;
  }
.resume-title { 
    text-align: center; 
    margin: 10px 0;
    align-self: center;
}
.pdf-preview { 
    align-self: center;
    margin-top: 10px; 
} 
.thumbnail-container { 
    position: relative; 
    display: inline-block; 
} 
.thumbnail { 
    width: 100%; 
    max-width: 500px; 
    cursor: pointer; 
    border: 1px solid #ccc; 
} 
.watermark { 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: rgba(255, 255, 255, 0.8); 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 5px; 
    border-radius: 5px; 
    font-size: 14px; 
    pointer-events: none; 
}
.video-wrapper { 
    margin-top: 10px; 
    text-align: center; 
    width: auto;
    max-width: 800px;
} 
.caption { 
    font-size: 16px; 
    color: rgba(106, 108, 108, 0.95); 
    margin-top: 10px; 
    width: auto;
    max-width: 800px;
}
.button {
    background-color:rgba(106, 108, 108, 0.95);
    border: 2px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin: 4px 2px;
    cursor: pointer;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#1D1B40;
}
li {
float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid  rgba(106, 108, 108, 0.95);
    color: rgba(106, 108, 108, 0.95);
}
li a:hover :not(.active) {
    background-color: #030307;
}
.active {
    background-color:#030307;
}
p{outline-color: rgba(106, 108, 108, 0.95);}
p.double {outline-style:double}
h1{
color:#1D1B40;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
}
h2{
    color:#1D1B40;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}
p{
    text-align: center;
    background-color: #1D1B40;
    border: 20px;
    border-color: rgba(106, 108, 108, 0.95);
    outline-color:rgba(106, 108, 108, 0.95);
    p.double {outline-style:double;}
}
p{
    background-color: #1D1B40;
}
li{
    color: #1D1B40;
}
.icons { 
    display: flex; 
    justify-content: center; 
    margin-top: 20px; 
} 
.icon-link { 
    margin: 0 10px; 
    font-size: 24px; 
    color: rgba(106, 108, 108, 0.95); 
    text-decoration: none; 
} 
.icon-link:hover { 
    color: #1D1B40; 
}
/* Media sizing for smaller screens */ 
@media (max-width: 768px) {
    .text-and-preview {
      padding: 10px;
      font-size: 14px;
    } 
    .center-img {
      width: 100%;
      height: auto;
    }
    .video-wrapper {
      width: 80%;
      text-align: center;
    }
    .icons {
      display: flex;
      justify-content: center;
      gap: 20px;
    }
  }