body{
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(106, 108, 108, 0.95);
    font-size: 20px;
background-image: url(whitewave.jpeg);
}
h1{
color:#1D1B40;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
}

p{
    background-color: #1D1B40;
    border: 20px;
    border-color: #434343;
}

p{
    background-color: #1D1B40;
}
ul{
    background-color: #1D1B40;
}